[Unit]
Description=GOGDB Dispatcher Service
Requires=network.target
After=network.target

[Service]
User={User}
Group={Group}
WorkingDirectory={gogdb-tasks Path}/gogdb-tasks
ExecStart={Python Path}/python {gogdb-tasks Path}/gogdb-tasks/taskdispatch.py 

[Install]
WantedBy=multi-user.target
